<!DOCTYPE html>
<html>
    <head>
    {% block header %}
        {{component('header')}}
    {% endblock %}
    </head>
    
    <body>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>
</html>
