<div class="header">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{boostrapCDN}}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{jQuerylibrary}}"></script>
        <script src="{{lastestCompiledJS}}"></script>
    {% endblock %}    
</div>