{# templates/components/sidebar.html.twig #}
<div class="sidebar sidebar-{{ current }}"> <!-- id = css pour sidebar -->
    {{ message }}
</div>

<div class="sidebar"> <!-- id = css pour sidebar -->
    {% if current == 'Homepage' %}
        <a href="./homepage">SAFER HOMEPAGE</a>
        <a href="./biens">Tout les biens</a>
        <a href="./recherche">Chercher un bien</a>
        <a href="./contact">Contact</a>
    {% elseif current == 'Biens' %}
        <a href="./homepage">safer homepage</a>
        <a href="./biens">TOUT LES BIENS</a>
        <a href="./recherche">Chercher un bien</a>
        <a href="./contact">Contact</a>
    {% elseif current == 'ChercherBiens' %}
        <a href="./homepage">safer homepage</a>
        <a href="./biens">Tout les biens</a>
        <a href="./recherche">CHERCHER UN BIEN</a>
        <a href="./contact">Contact</a>
    {% else %}
        <a href="./homepage">safer homepage</a>
        <a href="./biens">Tout les biens</a>
        <a href="./recherche">Chercher un bien</a>
        <a href="./contact">CONTACT</a>
    {% endif %}
</div>