{# templates/components/top.html.twig #}


<div class="topbar"> <!-- id = css pour sidebar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./homepage">SAFER</a>
        </div>
            <ul class="nav navbar-nav">
            {% if current == 'Biens' %}
                <li><a href="./biens">TOUT LES BIENS</a></li>
                <li><a href="./recherche">Chercher un bien</a></li>
                <li><a href="./contact">Contact</a></li>
            {% elseif current == 'ChercherBiens' %}
                <li><a href="./biens">Tout les biens</a></li>
                <li><a href="./recherche">CHERCHER UN BIEN</a></li>
                <li><a href="./contact">Contact</a></li>
            {% else %}
                <li><a href="./biens">Tout les biens</a></li>
                <li><a href="./recherche">Chercher un bien</a></li>
                <li><a href="./contact">CONTACT</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
</div>